<p>{{ title }}</p>

<ul>
  <li *ngFor="let c of angularConcepts; let i = index">
    {{i}}-{{c}}
  </li>
</ul>

<div *ngIf="true">
  <p>This is ngIf demo</p>
</div>

<ul>
  <ng-container *ngFor="let c of angularConcepts; let i = index">
    <li *ngIf="i % 2 == 0">
      {{i}}-{{c}}
    </li>
  </ng-container>
</ul>

<div [ngSwitch]="angularConcepts.length">
  <p *ngSwitchCase="0">There is no angular concept</p>
  <p *ngSwitchCase="1">There is one angular concept</p>
  <p *ngSwitchDefault>There are many angular concepts</p>
</div>